<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../tests/phpunit/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="false">

    <testsuites>
        <testsuite name="FieldPermissions Test Suite">
            <!-- Adjust if you add integration or selenium tests later -->
            <directory suffix="Test.php">./tests/phpunit</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Make the extension directory available to MW autoloader -->
        <var name="MW_INSTALL_PATH" value="/var/www/html/w" />
        <env name="MW_INSTALL_PATH" value="/var/www/html/w" />
    </php>

    <filter>
        <whitelist>
            <directory>../../includes</directory>
            <directory>../FieldPermissions</directory>
        </whitelist>
    </filter>
</phpunit>
